.frame{
    background-color: lightskyblue;
   
    margin-top: 10%;
    padding: 3%;
}
.button-row{
  
    

    padding: 0.5%;
    margin-top: 2px;
    margin-bottom: 2px;
}
.content-row{
   
 
    padding: 0.5%;
    margin-top: 2px;
    margin-bottom: 2px;
    
}
.frame-col{
    background-color: khaki;
    padding: 3%;
    border:dotted 0.5px grey;
    text-align: center;
    
}

/*
button settings
*/

.button-frame{
    text-align: center;
}

.random-buttons{
    background-color: rgb(16, 247, 16);
    font-size: 1vw;
}

.random-buttons:hover{
    background-color: rgb(16, 247, 16);
}

.random-buttons:active{
    background-color: rgb(16, 247, 16);
}

.random-buttons:focus{
    background-color: rgb(16, 247, 16);
}
.random-buttons::shadow{
    background-color: rgb(16, 247, 16);
}